.Earth {
    position: relative;
	height: 1000px;
	width: 1200px;
	background-color: green;
	margin: auto;
	border: 10px solid black;
}

.Player {
	position: absolute;
	transform:
			translateX(-50%)
			rotateX(0deg)
			rotateY(0deg)
			rotateZ(0deg);
	height: 150px;
	width: 60px;
	background-color: red;
	border: 5px solid black;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Ombre pour effet de profondeur */
}